/* General Demo Style */
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}


/*body {padding-top:50px;}*/

.cursor {cursor:pointer}

/* your going to need to fiddle with the css to make the menu consistent left padding-margin */

/* consistent left padding */
@media (max-width:767px) {
.my-custom-nav .navbar-collapse .navbar-nav > li {padding-left:15px!important;}
.my-custom-nav .user-dropdown > .dropdown-menu > li {padding-left:5px!important;}
}

/* Full width drop down for cart */
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    display:table; width: 100%; text-align: center; left:0; right:0;
    margin:0;
    border: 0;
    border-radius: 0;
}
.dropdown-menu>li {
    /*display: table-cell;*/
    padding:5px;
}


/* Enlarge cart item count */
.main-header .navbar .nav>li>a>.label{
    position: absolute;
    top: 12px;
    right: -2px;
    text-align: center;
    font-size: 21px;
    padding: 2px 3px;
    line-height: .9;
}

.checkout-footer{
    border-top: 1px solid #eee;
}