	.apps-container {
	  border: 2px dashed blue;
	  margin: 10px 10px 0 0;
	  padding: 5px;
	  min-width:200px;
	  min-height:50px;
	}

	.scoreSmall {
		font-size: 20vw;
	}

	.scoreLarge {
		font-size: 30vw;
	}